body {
	margin: 0;
	padding: 0;
	background: black;
}
.search-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;

}
.search-btn {
	color: #1da1f3;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.search-box:hover > .search-txt {
	width: 240px;
	padding: 0 6px;
}
.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}
h1 {
	font-family: sans-serif;
	position: relative;text-align: center;
	color: white;
	top: 520px;
	display: block;
}
.to > a > i {
	color: white;
	float: right;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: relative; top: 850px;
	position: relative; right: 46%;
}
p {
	color: white;
}

i {
	color: white;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e5e4e5;
	text-decoration: none;
	font-size: 40px;
	position: relative; top: 750px;
	left: -24px;
}
.social-link:before {
	position: absolute;
	content: "";
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 2px solid #721734;
	border-radius: 54% 46% 64% 36% / 50% 50% 50% 50%;
}
.social-icon:first-child .social-link:before {
	animation: 4s rotation infinite;
	animation-timing-function: linear;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}